body {
  background: black;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#imagenPlayer,
.fondo,
#imagenEnemy {
  display: none;
}

@font-face {
  font-family: Sonic;
  src: local("sonicfont"), local("sonicfont"),
    url(sonicfont.TTF);
  font-weight: bold;
}